/* 导入媒体查询样式 */
@use "./media.scss";

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  ::after {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}



body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img,
video,
audio {
  -webkit-user-drag: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// text-hidden
.text-hidden {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

// tabs
.n-tabs {
  width: 100%;
  --n-tab-border-radius: 6px !important;
  .n-tabs-nav {
    position: relative;
  }
  .n-tabs-tab {
    transition: all 0.3s var(--n-bezier);
  }
}

.n-switch {
  &.n-switch--active {
    .n-switch__rail {
      background-color: rgba(var(--primary), 0.8);
    }
  }
}
.n-scrollbar .n-scrollbar-container .n-scrollbar-content{
    display: grid;
}
// modal
.n-modal {
  max-width: calc(100vw - 40px);
  border-radius: 8px;
}
.n-modal-mask {
  backdrop-filter: blur(16px);
}
.n-modal-scroll-content {
  justify-content: center;
}

// drawer
.n-drawer-mask {
  backdrop-filter: blur(20px);
}

// dropdown
.n-dropdown {
  --n-border-radius: 8px !important;
  &.player {
    --n-color: rgba(var(--main-cover-color), 0.14);
    --n-prefix-color: rgb(var(--main-cover-color));
    --n-option-text-color: rgb(var(--main-cover-color));
    --n-option-text-color-hover: rgb(var(--main-cover-color));
    --n-option-color-hover: rgba(var(--main-cover-color), 0.14);
    --n-option-color-active: rgba(var(--main-cover-color), 0.14);
    box-shadow: 0 0 0 -4px rgba(var(--main-cover-color), 0.24);
    backdrop-filter: blur(10px);
  }
}

// n-message
.n-message-container {
  bottom: 90px !important;
  .n-message-wrapper {
    .n-message {
      border-radius: 12px;
    }
  }
}

// slider
.n-slider {
  .n-slider-rail {
    backdrop-filter: blur(10px);
  }
}

// popover
.n-popover {
  border-radius: 8px !important;
  backdrop-filter: blur(10px);
  overflow: hidden;
  &:not(.n-popover--raw) {
    color: var(--primary-hex);
  }
  &.player {
    --n-color: rgba(var(--main-cover-color), 0.14);
    .volume-change {
      .slider-num {
        color: rgb(var(--main-cover-color));
      }
    }
    .n-slider{
      --n-handle-color: rgb(var(--main-cover-color));     --n-rail-color: rgba(var(--main-cover-color), 0.2);
      --n-rail-color-hover: rgba(var(--main-cover-color), 0.3);   --n-fill-color: rgb(var(--main-cover-color));
      --n-fill-color-hover: rgb(var(--main-cover-color));
    }
  }
}

// layout-toggle-bar
.n-layout-toggle-bar {
  height: 44px !important;
  top: calc(50% - 22px) !important;
  .n-layout-toggle-bar__top,
  .n-layout-toggle-bar__bottom {
    height: 24px !important;
  }
  .n-layout-toggle-bar__bottom {
    top: 20px !important;
  }
}

// n-scrollbar
.n-scrollbar {
  .n-scrollbar-rail {
    right: 0 !important;
  }
  .n-scrollbar-rail__scrollbar {
    right: 0;
    transition:
      width 0.3s,
      background-color 0.2s var(--n-scrollbar-bezier) !important;
    &:hover {
      width: 8px;
    }
  }
}
#main #main-content{
  padding: 0 24px;
}

// notification
.n-notification {
  --n-border-radius: 8px !important;
}

// image
.n-image {
  width: 100%;
  height: 100%;
  .cover-loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    .loading-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1 !important;
    }
  }
  img {
    transition: all 0.3s;
  }
}

// image-preview
.n-image-preview-container {
  .n-image-preview-overlay {
    backdrop-filter: blur(16px);
  }
  .n-image-preview-toolbar {
    .n-base-icon {
      padding: 0;
      margin: 0 8px;
    }
  }
}

// skeleton
.n-skeleton {
  background: linear-gradient(
    90deg,
    rgba(var(--primary), 0.08) 25%,
    rgba(var(--primary), 0.14) 37%,
    rgba(var(--primary), 0.08) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

// n-back-top
.n-back-top {
  --n-height: 42px !important;
  --n-width: 42px !important;
  border: 1px solid rgba(var(--primary), 0.28);
}

// select
.n-select {
  .n-base-selection {
    .n-base-selection-label {
      background-color: var(--n-border-color);
    }
  }
}

// alert
.n-alert {
  --n-border-radius: 8px !important;
}

// tag
.n-tag {
  font-size: 13px;
  padding: 0 16px;
  line-height: 0;
  cursor: pointer;
  transition:
    transform 0.3s,
    background-color 0.3s,
    color 0.3s;
  background-color: rgba(var(--primary), 0.08);
  &.choose {
    background-color: rgba(var(--primary), 0.28);
    color: var(--primary-hex);
  }
  &:hover {
    background-color: rgba(var(--primary), 0.28);
    color: var(--primary-hex);
  }
  &:active {
    transform: scale(0.98);
  }
}

// .n-badge
.n-badge {
  .n-badge-sup {
    background-color: rgba(var(--primary), 0.14);
    .n-base-slot-machine {
      color: rgb(var(--primary));
    }
  }
}

// input
.n-input-number {
  width: 100%;
}

::selection {
  background-color: var(--primary-hex);
  color: var(--background-hex);
}

// markdown
.markdown-body {
  --bgColor-default: var(--background-hex) !important;
  --bgColor-muted: var(--background-hex) !important;
  --fgColor-default: var(--n-text-color) !important;
  margin-top: 12px !important;
  padding: 20px;
  border-radius: 8px;
}
.text-hidden {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.likedPage {
  display: flex;
  flex-direction: column;

  .detail {
    position: absolute;
    display: flex;
    height: 240px;
    width: 100%;
    padding: 12px 0 30px 0;
    will-change: height, opacity;
    z-index: 1;
    transition:
      height 0.3s,
      opacity 0.3s;

    .cover {
      position: relative;
      display: flex;
      width: auto;
      height: 100%;
      aspect-ratio: 1/1;
      margin-right: 20px;
      border-radius: 8px;
      transition:
        opacity 0.3s,
        margin 0.3s,
        transform 0.3s;

      :deep(img) {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
      }

      .cover-img {
        border-radius: 8px;
        overflow: hidden;
        z-index: 1;
        transition:
          opacity 0.3s,
          filter 0.3s,
          transform 0.3s;
      }

      .cover-shadow {
        position: absolute;
        top: 6px;
        height: 100%;
        width: 100%;
        filter: blur(12px) opacity(0.6);
        transform: scale(0.92, 0.96);
        z-index: 0;
        background-size: cover;
        aspect-ratio: 1/1;

        :deep(img) {
          opacity: 1;
        }
      }

      .cover-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 30%;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        z-index: 1;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
        transition: opacity 0.3s;
      }

      .play-count {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        right: 12px;
        color: #fff;
        font-weight: bold;
        z-index: 2;
        transition: opacity 0.3s;

        .n-icon {
          color: #fff;
          font-size: 16px;
          margin-right: 4px;
        }
      }

      &:active {
        transform: scale(0.98);
      }
    }

    .data {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      // padding-right: 60px;

      :deep(.n-skeleton) {
        margin-bottom: 12px;
        border-radius: 8px;
        height: 32px;
      }

      :deep(.n-ellipsis) {
        margin-bottom: 8px;
        cursor: pointer;
      }

      .name {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 12px;
        transition:
          font-size 0.3s var(--n-bezier),
          color 0.3s var(--n-bezier);
      }

      .collapse {
        position: absolute;
        left: 0;
        top: 60px;
        margin-bottom: 12px;
      }

      .meta {
        .item {
          display: flex;
          align-items: center;

          .n-icon {
            font-size: 20px;
            margin-right: 4px;
          }

          .tags {
            margin-left: 4px;

            .n-tag {
              font-size: 13px;
              padding: 0 16px;
              line-height: 0;
              cursor: pointer;
              transition:
                transform 0.3s,
                background-color 0.3s,
                color 0.3s;

              &:hover {
                background-color: rgba(var(--primary), 0.14);
              }

              &:active {
                transform: scale(0.95);
              }
            }
          }
        }
      }

      .menu {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        .n-button {
          height: 40px;
          transition: all 0.3s var(--n-bezier);
        }

        .more {
          width: 40px;
        }

        .search {
          height: 40px;
          width: 130px;
          display: flex;
          align-items: center;
          border-radius: 25px;
          transition: all 0.3s var(--n-bezier);

          &.n-input--focus {
            width: 200px;
          }
        }
      }
    }
  }

  .song-list,

// 列表页通用样式
.album-list,
.playlist-list,
.liked-list,
.radio-list {
  display: flex;
  flex-direction: column;
  .song-list,
  .list-comment,
  .loading,
  .n-empty {
    padding-top: 240px;
    transition:
      padding 0.3s,
      opacity 0.3s;
  }

  &.small {
    .detail {
      height: 120px;

      .cover {
        margin-right: 12px;

        .cover-mask,
        .play-count {
          opacity: 0;
        }
      }

      .data {
        .name {
          font-size: 22px;
        }

        .menu {

          .n-button,
          .search {
            height: 32px;
            --n-font-size: 13px;
            --n-padding: 0 14px;
            --n-icon-size: 16px;
          }
        }
      }
    }

    .song-list,
    .loading,
    .n-empty {
      padding-top: 120px;

    }
  }
}
  .list-detail.small {
    & ~ .song-list,
    & ~ .list-comment,
    & ~ .loading,
    & ~ .n-empty {
      padding-top: 120px;
    }
  }
}
